body {
  padding-top: 70px;
}
.product {
  margin-bottom: 75px;
}
.product__media {
  height: 300px;
  position: relative;
}
.product__img {
  max-width: 100%;
  max-height: 300px;
  position: absolute;
  margin: auto;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
.product__controls {
  margin-top: 25px;
}